*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
    
}


.carousel {
  display: block;
  width: 100vw;
  height: 80vh;
  position: fixed;/*antes estaba relativa*/
  z-index: 1;

  
}

  /* z-index: -1;Esto me permite que el menu hamburguesa esté por encima de la imagen, pero finalmente puse la navBar en 2 y posicion fija y el carrusel en 1 */


.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.5s opacity ease-in-out;
  /* transition-delay: 200ms; */
  
}


.slide > img {
  display: block;
  width: 35rem;
  height: 30rem;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  /* z-index: -1; */ 
  transform: scale(1);
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 15rem;
}

.carousel-button.next {
  right: 15rem;
}


h3{
  display: flex;
  justify-content: center;
}

footer{
  margin-top: 34rem;
  
}

@media screen and (max-width:500px) {
.slide{
  width: auto;
  height: 50vh;
}
footer{
  margin-top: 36rem;
}
.carousel-button.prev {
  left: 17rem;
}

.carousel-button.next {
  right: 17rem;
}
body{
  overflow: hidden;
}

}


